body {
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
  line-height: 1.6;
  background-color: #ffffff;
  color: #222;
}

h1 {
  text-align: center;
  font-size: 2.2em;
  margin-bottom: 20px;
  color: #171717;
}

h1 u { 
  text-decoration: none;  /* optional: remove underline for cleaner look */
}

section {
  background-color: #fcdbdb;
  padding: 20px 25px;
  margin-bottom: 30px;
  border-radius: 10px;
  border-color: #500707;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

section h2 {
  color: #842b2b;
  margin-bottom: 10px;
  border-bottom: 2px solid #000000;
  padding-bottom: 5px;
}

section img {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 150px;
  height: auto;
  object-fit: cover;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

section p.about {
  font-size: large;
  margin-top: 50px;
  text-align: center;
}

p.intro {
  background-color: #842b2b;
  font-size: medium;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}